@{
    ViewBag.Title = "Контакты";
}
<h2>@ViewBag.Title.</h2>

<address>
    Харьков<br />
    Украина<br />
    <abbr title="Наш телефон:">+380667971987</abbr><br />
    info@mdshow.ru
</address>
